.hidden {
  display: none;
}

.container{
  width: 1920px;
  height: 1080px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color:#FFF;
}

nav {
  position: absolute;
  top: 97px;
  left: 75%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

nav ul li {
  list-style: none;
  display: inline-block;
  overflow: hidden;
}

 nav ul li a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  color: #ffffff;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  border-radius: 50px;
  width: 140%;
  text-align: center;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}


 nav ul li:nth-child(1) a {
  background-color: #E25A1C;
}

 nav ul li:nth-child(2n) a {
  background-color: #E25A1C;
}

 nav ul li:nth-child(3n) a {
  background-color: #E25A1C;
}
 nav ul li:nth-child(4n) a {
  background-color: #E25A1C;
}
nav ul li:nth-child(5n) a {
  background-color: #E25A1C;
}

.TopBanner{
  width: 1920px;
  height: 200px;
  background-color: black;
}

.TopBanner img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 39px;
  left: 100px;
}

.TopBanner h2{
  color: #FFFFFF;
  position:relative;
  top: 55px;
  left: 250px;
  font-size: 50px;
}

.division-bar {
  position: relative;
  width: 1920px;
  height: 15px;
  top: 540px;
  margin: auto;
  background-color: black;
}

.BottomBanner {
  position: relative;
  width: 1920px;
  height: 150px;
  background-color: black;
  top: 1080px;
}

.lefttext p {
  position: relative;
  color:#E25A1C;
  top: 65px;
  left: 10px;
  font-size: 20px;
}

.centertext p {
  position: relative;
  color: #E25A1C;
  top: 35px;
  text-align: center;
  font-size: 20px;
}

.righttext p {
  position: relative;
  color: #E25A1C;
  top: 5px;
  left: 1770px;
  font-size: 20px;
}

.textexplanation h3 {
  position: relative;
  top: 250px;
  text-align: center;
  font-size: 40px;
}

.textexplanation p {
  position: relative;
  top: 250px;
  text-align: center;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/*The Grid*/
.gallery1 {
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 870px;
  width: 200px;
  height: 200px;
}

.gallery2 {
  cursor: pointer;
  position: absolute;
  left: 450px;
  top: 870px;
  width: 200px;
  height: 200px;
}

.gallery3 {
  cursor: pointer;
  position: absolute;
  left: 850px;
  top: 870px;
  width: 200px;
  height: 200px;
}

.gallery4 {
  cursor: pointer;
  position: absolute;
  left: 1250px;
  top: 870px;
  width: 200px;
  height: 200px;
}

.gallery5 {
  cursor: pointer;
  position: absolute;
  left: 1650px;
  top: 870px;
  width: 200px;
  height: 200px;
}

.gallery6 {
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 1130px;
  width: 200px;
  height: 200px;
}

.gallery7 {
  cursor: pointer;
  position: absolute;
  left: 450px;
  top: 1130px;
  width: 200px;
  height: 200px;
}

.gallery8 {
  cursor: pointer;
  position: absolute;
  left: 850px;
  top: 1130px;
  width: 200px;
  height: 200px;
}

.gallery9 {
  cursor: pointer;
  position: absolute;
  left: 1250px;
  top: 1130px;
  width: 200px;
  height: 200px;
}

.gallery10 {
  cursor: pointer;
  position: absolute;
  left: 1650px;
  top: 1130px;
  width: 200px;
  height: 200px;
}
